@model UserRegisterModel

@{
    ViewData["Title"] = "Register";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("Register","LogIn", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    <div class="box">
        <table>
            <tr>
                <td valign="top">
                    @Html.LabelFor(model => model.FirstName)
                </td>
                <td>
                    @Html.EditorFor(model => model.FirstName)
                    <div style="height: 20px; color: red">
                        @Html.ValidationMessageFor(model => model.FirstName)
                    </div>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    @Html.LabelFor(model => model.LastName)
                </td>
                <td>
                    @Html.EditorFor(model => model.LastName)
                    <div style="color: red">
                        @Html.ValidationMessageFor(model => model.LastName)
                    </div>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    @Html.LabelFor(model => model.Email)
                </td>
                <td>
                    @Html.EditorFor(model => model.Email)
                    <div style="color: red">
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    @Html.LabelFor(model => model.Password)
                </td>
                <td>
                    @Html.EditorFor(model => model.Password)
                    <div style="color: red; overflow-wrap:normal">
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <input type="submit" value="Register" />
                </td>
            </tr>
        </table>
    </div>
}

<style>
    .h2 {
        text-align: center;
    }

    .box {
        border: solid 1px #ccc;
        padding: 30px 0 30px 30px;
        border-radius: 5px;
        width: 450px;
        margin: auto;
        display: table;
    }

    .topnav-right {
        float: right;
    }
</style>
