@using Microsoft.AspNetCore.Http
@using DemoSeguridad.Session
@inject IHttpContextAccessor Accessor
@model BookListViewModel

@{
    ViewData["Title"] = "Book List";
    var user = Accessor.HttpContext.Session.GetObjectFromJson<UserViewModel>("User");
}

<h1>Lista de Libros</h1>

<p>
    @if (user != null && user.Role != null && user.Role.Permissions.Any(p => p.Name == "Libros.Agregar"))
    {
        @Html.ActionLink("Agregar libro", "Create")
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>Libro</th>
            <th>Autor</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Books)
        {
            <tr>
                <td>
                    <a> @item.Title </a>
                </td>
                <td>
                    <a> @item.AuthorName</a>
                </td>
                <td>
                    @if (user != null && user.Role != null && user.Role.Permissions.Any(p => p.Name == "Libros.Eliminar"))
                    {
                        @Html.ActionLink(
                            "Eliminar",
                            "Delete",
                            new { id = item.Id },
                            new { onclick = "return confirm('Esta seguro que desea eliminar este libro?');" })
                    }
                </td>
                <td>
                    @if (user != null && user.Role != null && user.Role.Permissions.Any(p => p.Name == "Libros.Leer"))
                    {
                        @Html.ActionLink("Leer", "Details", new { id = item.Id })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
